.expanding{
    transition: width 0.3s ease-in-out;
    width: 120px;
    height: 120px;
    background-color: #363636;
    position: relative;
    display: inline-block;
}
.expanding:hover{
    width: 300px;
    height: 120px;
    background-color: #363636;
}
.expanding1{
    transition: width 0.3s ease-in-out;
    width: 120px;
    height: 120px;
    background-color: #363636;
}
.expanding1:hover{
    width: 300px;
    height: 120px;
    background-color: #363636;
}